/** wildfiremobile.scss **/

  $wildfireorange: rgb(235,185,171);
  $wildfireblue: rgb(198,235,234);
  $darkgrey: rgb(65,65,65);
  $medgrey: rgb(195,195,195);
  $lightgrey: rgb(240,240,240);
  $white: rgb(250,250,250);

  $moderate: rgb(146,182,219);
  $high: rgb(155,199,163);
  $veryhigh: rgb(239,223,154);
  $severe: rgb(234,179,143);
  $extreme: rgb(212,139,136);
  $catastrophic: rgb(147,127,163);

  $headerfont:"europa", serif;
  $bodyfont:"roboto", sans-serif;


body {
  height: 100%;
  font-family: $bodyfont;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /**Background Image**/
    background-image: url(/wildfireframe/Wildfire-Background-Test.svg), url(/Users/scottbelcher/Projects/Wildfire/Wireframe/wildfireframe/Wildfire-Background-Test.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: $severe;
    background-blend-mode:overlay;
  /**End Background Image**/
}

h1,h2,h3,h4,h5,h6 {
  font-family: $headerfont;
  align-items: center;
}
/**Wildfire Nav**/
#wildfire-nav {
  background-color: $severe;
  color: $white;
  font-size: 2.5vw;
  }
#collapsingNavbar   {
  padding:1vh;
  }

.nav-item {
  width:85%;
  height:20vw;
  border-top: .5vw solid $lightgrey;
  color: $lightgrey;
  margin: auto;
  font-size: 8vw;
  text-align:center;
  padding-right: 0;
  padding-top: 3.5vw;
  text-decoration: underline;
  text-decoration-color: rgba(240, 240, 240, .5);
  text-decoration-skip: ink;
  i {
  padding-top: 5.5vw;
  text-align: left;
  }
  span {
  padding-left: 5%;
  }
}
#wildfire-title {
  font-family: $headerfont;
  width:100%;
  border:0vw;
  font-size: 12vw;
  background-color: rgba(0,0,0,0);
  color: $lightgrey;
  margin-top: 1vh;
  padding-top: 0;
  text-decoration: none;
  }
/**end Wildfire Nav**/

#wildfire-nav-bottom {
  background-color: $darkgrey;
  font-size: 4vw;
  font-family: $headerfont;
  color: $lightgrey;
  text-align: center;
  }

#wildfire-header {
  font-family: $headerfont;
  font-size: 16vw;
  background-color: rgba(0,0,0,0);
  color: $darkgrey;
  padding-top:5vw;
  margin-bottom: 5vw;
  text-align: center;
  }

.body-container{
  height:92.6vh;
}

.wildfire-container {
  width:90%;
  margin:auto;
  background-color:rgba(250,250,250,.60);
  border-radius:3vh;
  padding:5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}


.standard-button /** Check to see if this is used, otherwise delet**/ {
  width:85%;
  height:25vw;
  border: 1.6vw solid $medgrey;
  border-radius: 5vw;
  background-color: $white;
  color: $darkgrey;
  margin:auto;
  margin-top: 10vw;
  font-size: 10vw;
  padding-left: 5%;
  i {
  padding-top: 5.5vw;
  text-align: left;
  }
  span {
  padding-left: 5%;
  }
}

.menu-button {
  border-top:.5vw solid $darkgrey;
  color:$darkgrey;
  font-size:6vh;
  font-family:$bodyfont;
  padding-top: 4.2vh;
  height:18vh;
  width:80%;
  margin: auto;
  a {
    color: $darkgrey;
    text-decoration: underline;
    text-decoration-color: rgba(65,65,65,.9);
    text-decoration-skip: ink;
  }
  .fa-fw {
  width: 30vw;
  }
}

.header-buttons-container{
}
.header-button {
  border: .8vw solid $medgrey;
  background-color: $white;
  color: $darkgrey;
  font-size: 12.8vw;
  width: 25%;
  margin: 0%;
  height: 25vw;
  float: left;
  text-align: center;
  i /**Font Awesome Icons**/ {
  padding-top: 10%;
  padding-bottom: 5%;
  }
}
.header-button-label {
  font-size: 4.27vw;
}

#reportbuttons {
    width:90%;
    margin:auto;
  section {
    margin: auto;
    }
  }
.report-radio-button {
  display:none;
  }
.report-label-button {
  width:20%;
  height:20vw;
  color: $darkgrey;
  background-color: $white;
  font-size: 4vw;
  text-align: center;
  vertical-align: middle;
  padding-top: 2vh;
  cursor: pointer;
  border: 1vw solid;
  border-color: $white;
  border-radius: 10%;
  }
.report-radio-button:checked + label {
  background-color:$severe;
  border:1vw solid;
  border-color: $darkgrey;
  border-radius: 10%;
  }

.submit-button {
  margin:auto;
  width:40vw;
  height:10vh;
  font-size: 5vh;
  background-color: $white;
  color: $darkgrey;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
