/** wildfiremobile.scss **/
body {
  height: 100%;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /**Background Image**/
  background-image: url(/wildfireframe/Wildfire-Background-Test.svg), url(/Users/scottbelcher/Projects/Wildfire/Wireframe/wildfireframe/Wildfire-Background-Test.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #eab38f;
  background-blend-mode: overlay;
  /**End Background Image**/ }

h1, h2, h3, h4, h5, h6 {
  font-family: "europa", serif;
  align-items: center; }

/**Wildfire Nav**/
#wildfire-nav {
  background-color: #eab38f;
  color: #fafafa;
  font-size: 2.5vw; }

#collapsingNavbar {
  padding: 1vh; }

.nav-item {
  width: 85%;
  height: 20vw;
  border-top: 0.5vw solid #f0f0f0;
  color: #f0f0f0;
  margin: auto;
  font-size: 8vw;
  text-align: center;
  padding-right: 0;
  padding-top: 3.5vw;
  text-decoration: underline;
  text-decoration-color: rgba(240, 240, 240, 0.5);
  text-decoration-skip: ink; }
  .nav-item i {
    padding-top: 5.5vw;
    text-align: left; }
  .nav-item span {
    padding-left: 5%; }

#wildfire-title {
  font-family: "europa", serif;
  width: 100%;
  border: 0vw;
  font-size: 12vw;
  background-color: rgba(0, 0, 0, 0);
  color: #f0f0f0;
  margin-top: 1vh;
  padding-top: 0;
  text-decoration: none; }

/**end Wildfire Nav**/
#wildfire-nav-bottom {
  background-color: #414141;
  font-size: 4vw;
  font-family: "europa", serif;
  color: #f0f0f0;
  text-align: center; }

#wildfire-header {
  font-family: "europa", serif;
  font-size: 16vw;
  background-color: rgba(0, 0, 0, 0);
  color: #414141;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 24vw;
  margin-right: auto; }

.body-container {
  height: 92.6vh; }

.wildfire-container {
  width: 90%;
  margin: auto;
  background-color: rgba(250, 250, 250, 0.6);
  border-radius: 3vh;
  padding: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh; }

.standard-button {
  width: 85%;
  height: 25vw;
  border: 1.6vw solid #c3c3c3;
  border-radius: 5vw;
  background-color: #fafafa;
  color: #414141;
  margin: auto;
  margin-top: 10vw;
  font-size: 10vw;
  padding-left: 5%; }
  .standard-button i {
    padding-top: 5.5vw;
    text-align: left; }
  .standard-button span {
    padding-left: 5%; }

.menu-button {
  border-top: 0.5vw solid #414141;
  color: #414141;
  font-size: 6vh;
  font-family: "roboto", sans-serif;
  padding-top: 4.2vh;
  height: 18vh;
  width: 80%;
  margin: auto; }
  .menu-button a {
    color: #414141;
    text-decoration: underline;
    text-decoration-color: rgba(65, 65, 65, 0.9);
    text-decoration-skip: ink; }
  .menu-button .fa-fw {
    width: 30vw; }

.header-button {
  border: 0.8vw solid #c3c3c3;
  background-color: #fafafa;
  color: #414141;
  font-size: 12.8vw;
  width: 25%;
  margin: 0%;
  height: 25vw;
  float: left;
  text-align: center; }
  .header-button i {
    padding-top: 10%;
    padding-bottom: 5%; }

.header-button-label {
  font-size: 4.27vw; }

#reportbuttons {
  width: 90%;
  margin: auto; }
  #reportbuttons section {
    margin: auto; }

.report-radio-button {
  display: none; }

.report-label-button {
  width: 20%;
  height: 20vw;
  color: #414141;
  background-color: #fafafa;
  font-size: 4vw;
  text-align: center;
  vertical-align: middle;
  padding-top: 2vh;
  cursor: pointer;
  border: 1vw solid;
  border-color: #fafafa;
  border-radius: 10%; }

.report-radio-button:checked + label {
  background-color: #eab38f;
  border: 1vw solid;
  border-color: #414141;
  border-radius: 10%; }

.submit-button {
  margin: auto;
  width: 40vw;
  height: 10vh;
  font-size: 5vh;
  background-color: #fafafa;
  color: #414141;
  padding-top: 1vh;
  padding-bottom: 1vh; }

/*# sourceMappingURL=wildfiremobile.css.map */
